
<div class="card p-1 mt-4">
    <div class="col-12 p-3 ">
        <h2 class="text-center"> Politică de confidențialitate </h2><br>
        <p>
            Vânzătorul își rezervă dreptul a folosi informațiile furnizate de către Cumpărător în vederea realizării contractului la distanță.<br>
            Vânzătorul își rezervă dreptul, în baza acordului prealabil al Utilizatorului,
            de a stoca și folosi în interes propriu, în scopul realizării activităților de marketing,
            informare, facturare sau alte asemenea, orice informație furnizată de către Cumpărător prin intermediul site-ului correctcarbydenis.ro.
            De asemenea, el nu va furniza niciunei terțe părți informațiile primite de la Cumpărător, cu excepția partenerilor agreați,
            furnizori de servicii cu care există un contract prin care se protejează aceste date primite de la Cumpărător.<br>
            Atunci când utilizează website-ul Vânzătorului, utilizatorul / Cumpărătorul
            va furniza Vânzătorului informații personale pe care aceasta le va folosi doar în scopul de a răspunde solicitării dvs. și în informarea Cumpărătorului cu privire la orice oferte speciale sau noi game de produse.
        </p>
        <p>
            În conformitate cu Regulamentul (UE) 2016/679 privind protecția datelor personale, aveți următoarele drepturi:<br>
            Dreptul de a fi informat (art. 12-13): Informarea persoanei vizate cu privire la categoriile de date colectate, scop, destinatari, transfer.<br>
            Dreptul de acces la date (art.15): Persoana vizată poate solicita acces la datele sale pentru a verifica daca prelucrarea este întemeiată.<br>
            Dreptul de a rectifica datele (art.16): Persoana vizată poate solicita rectificarea datelor în cazul în care acestea sunt procesate greșit.<br>
            Dreptul de a fi uitat (art.17): Când procesarea nu mai este justificată sau când persoana vizată și-a retras consimțământul.<br>
            Dreptul de restricționare a prelucrărilor (art.18): Persoana vizată poate cere restricționarea datelor folosite sau a transferului de date.<br>
            Portabilitatea datelor (art. 20): Persoana vizată are dreptul de a solicita portarea datelor intre Operatori.<br>
            Dreptul de a face opoziție (art.21): Dreptul persoanei vizate de a face obiecții sau de a se opune anumitor tipuri de prelucrări.<br>
            Dreptul de a se opune la profilări (art. 21) Persoana vizată are dreptul de a nu face obiectul unei decizii de profilare atunci<br>
            când aceasta se bazează pe prelucrarea automată.<br>
            Toate informațiile personale pot fi șterse din baza noastră de date printr-un e-mail trimis la adresa office@correctcarbydenis.ro în care specificați că doriți acest lucru.
        </p>
    </div>

</div>
